@{
    ViewData["Title"] = "Services";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Services</h1>
                    <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada.</p>
                    <p>
                        <a asp-controller="Shop" asp-action="Index" class="btn btn-secondary me-2">Shop Now</a>
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-white-outline">Contact</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="~/images/couch.png" class="img-fluid" alt="Couch">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="why-choose-section">
    <div class="container">
        <div class="row my-5">
            <div class="col-6 col-md-3 mb-4">
                <div class="feature">
                    <div class="icon"><img src="~/images/truck.svg" class="imf-fluid" alt="Truck"></div>
                    <h3>Fast &amp; Free Shipping</h3>
                    <p>Donec vitae odio quis nisl dapibus malesuada.</p>
                </div>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <div class="feature">
                    <div class="icon"><img src="~/images/bag.svg" class="imf-fluid" alt="Bag"></div>
                    <h3>Easy to Shop</h3>
                    <p>Donec vitae odio quis nisl dapibus malesuada.</p>
                </div>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <div class="feature">
                    <div class="icon"><img src="~/images/support.svg" class="imf-fluid" alt="Support"></div>
                    <h3>24/7 Support</h3>
                    <p>Donec vitae odio quis nisl dapibus malesuada.</p>
                </div>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <div class="feature">
                    <div class="icon"><img src="~/images/return.svg" class="imf-fluid" alt="Return"></div>
                    <h3>Hassle Free Returns</h3>
                    <p>Donec vitae odio quis nisl dapibus malesuada.</p>
                </div>
            </div>
        </div>
    </div>
</div>
