@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.UserName</td>
                <td>@u.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
